.div {
    text-align: center;
    text-decoration: none;
}

#button {
    font-size: 28px;
    font-weight: bold;
}

#button:hover {
    background-image: url("./images/fire.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;


}
